<h1>user signup</h1>
<%= form_tag("/signups/create",:method => "post") do  %>
      <%= label_tag :email %>
      <%= email_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

     
      <%= submit_tag "Create my account" %>
  <% end %>
 