<%= @mes if !@mes.empty? %>

<h1>user Login</h1>
<%= form_tag("/logins/check",:method => "post") do  %>
      <%= label_tag :email %>
      <%= email_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

     
      <%= submit_tag "Login" %>
  <% end %>
 